CAM_NUMBER = 0 #cam number, 0 for integrated webcam, 1 for the next detected camera.
    
PATH = "videospath"
FILE = "filename"

VIDEOSOURCE = PATH + FILE
# or
VIDEOSOURCE = CAM_NUMBER

# VIDEOSOURCE will be invoqued as 
# cv2.VideoCapture(videosource)

CAM_WIDTH = 640
CAM_HEIGHT = 480
