#var index for the tracking camera.
CAM_BRIGHTNESS_VAR = 10
CAM_CONTRAST_VAR = 11
CAM_SATURATION_VAR = 12
CAM_HUE_VAR = 13
CAM_GAIN_VAR = 14
CAM_EXPOSURE_VAR = 15

#properties for tracking camera.
CAM_BRIGHTNESS_VALUE = 0.298
CAM_CONTRAST_VALUE = 1.0
CAM_SATURATION_VALUE = 0.0
CAM_HUE_VALUE = 0.5
CAM_GAIN_VALUE = 0.1587
CAM_EXPOSURE_VALUE = 0.0
