trainingName = "training"
# relevant Training variables
eventTime1_sound = 1.0  # (sec) Instant of time when the soundGen ends.
eventTime1_movement_start = 1.0 #(sec) Instant of time when the movement starts to be considered
eventTime2_movement = 3.0  # (sec) Instant of time when movement ceases to be considered for reward
eventTime3_trialEnd = 10.0  # (sec) Instant of time when the trial ends.
minIdleIntertrialTime = 1.0  # no-movement time (sec) before the start of next trial. If not reached this time with no movement, trial won't start

interTrialRandom1Time = 7.0  # intertrial time (sec) is random between this value and the random2 value
interTrialRandom2Time = 10.0  # intertrial time (sec) is random between previous value and this value.

maxMovementThreshold = 2000 #max movement threshold that could be set with user input
maxMovementTime = 1.1  # max amount of movement time (in sec) to give reward. SHould be less than the opportunity duration
movementTime = 1.0  # continuous moving time that should be reached to give reward. 0.5 = 500 ms
# ex.: movementTime = 0.5 means that there should be movement detected over 500 ms at least
idleTime = 1.6  # continuous idle time that should be reached to give reward. 1 = 1000 ms
maxIdleTime = 2.0

soundGenDuration1 = 1.0 #tone 1 duration in seconds
soundGenDuration2 = 1.0 #tone 2 duration in seconds
soundGenFrequency1 = 1000  # in Hz
soundGenFrequency2 = 8000  # in Hz

toneOneProbability = 0.5
usingTK = 0 #0: using Glade GTk;   1: using TKinter   2: non-GUI mode
initialComment = "" #Training comment initial value.

#Duplicate Values from sphereVideoDetection; if needed, change both places:
MOVEMENT_THRESHOLD_INITIAL_VALUE = 30 #initial movement threshold value (amount of difference in sum, to consider a movement valid)
MOVEMENT_METHOD_INITIAL_VALUE = 2 #Type of movement analysis method used initially.
