trainingName = "training"
# relevant Training variables
eventTime1_sound = 1.0  # (sec) Instant of time when the soundGen ends.
eventTime1_movement_start = 1.0 #(sec) Instant of time when the movement starts to be considered
eventTime2_movement = 3.0  # (sec) Instant of time when movement ceases to be considered for reward
eventTime3_trialEnd = 10.0  # (sec) Instant of time when the trial ends.
minIdleIntertrialTime = 1.0  # no-movement time (sec) before the start of next trial. If not reached this time with no movement, trial won't start

requireStillness = 1 # if 1, a idle intertrial time is required to end current trial and start next one.

interTrialRandom1Time = 7.0  # intertrial time (sec) is random between this value and the random2 value
interTrialRandom2Time = 10.0  # intertrial time (sec) is random between previous value and this value.

maxMovementThreshold = 2000 #max movement threshold that could be set with user input
movementTime = 1.0  # continuous moving time that should be reached to give reward. 0.5 = 500 ms
# ex.: movementTime = 0.5 means that there should be movement detected over 500 ms at least
idleTime = 1.6  # continuous idle time that should be reached to give reward. 1 = 1000 ms
maxIdleTime = 2.0

soundGenDuration1 = 1.0 #tone 1 duration in seconds
soundGenDuration2 = 1.0 #tone 2 duration in seconds
soundGenFrequency1 = 1000  # in Hz
soundGenFrequency2 = 8000  # in Hz
soundGenVolume1 = 1.0 #tone 1 volume
soundGenVolume2 = 1.0 #tone 2 volume

toneOneProbability = 0.5
multiProcSubjectNameQuery = 1 ; #0: don't use multiprocessing for Subject Name query    1: Use multiprocessing for Subject Name query (def.:1)
usingTK = 0 #0: using Glade GTk;   1: using TKinter   2: non-GUI mode
initialComment = "" #Training comment initial value.

type_pavlov = 0 #1: classic conditioning (Pavlov) mode enabled. Check documentation for more info.
type_skinner = 0 #1: Skinner operant mode enabled. Check documentation for more info.
type_ocond = 0 #1: Operant Conditioning mode enabled. Check documentation for more info. 
type_discr = 0 #1: Discrimination mode enabled. Check documentation for more info.

#Duplicate Values from sphereVideoDetection; if needed, change both places:
MOVEMENT_THRESHOLD_INITIAL_VALUE = 30 #initial movement threshold value (amount of difference in sum, to consider a movement valid)
MOVEMENT_METHOD_INITIAL_VALUE = 2 #Type of movement analysis method used initially.
NUMBER_OF_DROPS_INITIAL_VALUE = 1 #Number of drops per reward

numberOfRewardDrops = 1; #Number of reward drops to give when the trial is successful (for go trials).
numberOfRewardDropsIdle = 1; #Number of reward drops to give when the trial is successful (for no-go trials).



