trainingName = "training_two_tones"
# relevant Training variables
eventTime1_sound = 1.0  # in seconds. Instant of time when the soundGen ends.
eventTime2_movement = 3.0  # in seconds. Instant of time when movement ceases to be considered for reward
eventTime3_trialEnd = 10.0  # in seconds. Instant of time when the trial ends.
minIdleIntertrialTime = 1.0  # no-movement time in seconds before the start of next trial. If not reached this time with no movement, trial won't start

interTrialRandom1Time = 4.0  # intertrial time is random between this value and the random2 value
interTrialRandom2Time = 7.0  # intertrial time is random between previous value and this value.

maxMovementThreshold = 2000 #max movement threshold that could be set with user input
maxMovementTime = 11  # max amount of movement time (10 means 1000 ms) to give reward. SHould be less than the opportunity duration
movementTime = 5  # continuous moving time that should be reached to give reward. 5 = 500 ms
# ex.: movementTime = 5 means that there should be movement detected over 500 ms at least
idleTime = 10  # continuous idle time that should be reached to give reward. 10= 1000 ms

soundGenDuration = 1.0 #tone duration in seconds
soundGenFrequency1 = 1000.0  # in Hz
soundGenFrequency2 = 8000.0  # in Hz

toneOneProbability = 0.9
